body{ 
 background-size:cover;
 background-color:#E0FFFF;
}


h1 { 
 color:black;
 text-shadow: 1px 1px red;
 font-style: italic;
 font-family:arial;
 }

p { 
text-align:center;
font-size: 24px ;
font-family:arial;
font-style:italic;
}

#cabecalho{ 
	background-color:white;
	display: grid;
	grid-template-columns: 50% 50%;
	padding-right: 550px;
	
}



}
h4 {
	color: black;
	font-size:23pt;
	}	

h2 {
	color: white;	
	font-size: 25px ;
}

li {
 color:#00008B;
 
}
#menu {
 background-color:#B0E0E6;
 height:80px ;

}
#menu ul{
	list-style-type:none; /*tira os pontinhos*/ 
	text-align:center ; /*centraliza os itens do menu*/
	line-height:70px ; 
	
}

#carrousel p{
	font-size:12pt;
	font-family:arial;
}

#menu li{
	display:inline;
	/*border:2px solid black; */
	margin-right:50px; /*faz uma separação no menu*/
	padding-top:20px;
	padding-left:120px;
	padding-right:120px;
	padding-bottom:20px;
	border-radius:60px;
	background-color: white; 
	}

#menu a{
   color:#2F4F4F ; 
   text-decoration:none ;

   }   

#menu li:hover {
	background-color:#40E0D0;
}

#conteudo {	
	display:grid;
	grid-template-columns:30% 20% 30% 20%	;
	margin-right:2%;
	margin-left:2%;

	}
#Empresa{
	text-align:center;
	background-color:white;
	padding-bottom:50px;
	padding-top:50px;
	padding-left:300px;
	padding-right:300px;
	
}	

#Empresa p{
	font-family:times;
	font-size:18pt;
}
#Empresa h1{
	Font-size:30pt;
	font-family:helvetica;
	text-shadow: 2px 2px #4169E1;
	}

#Empresa a{
	background-color:black;
	padding:17px;
	border-radius:30px;
	padding-left:50px;
	padding-right:50px;
	color:white;
	text-decoration:none;
	
}
#h4 {
 font-family:ariel ;
}

#galeria{
	display:grid;
	grid-template-columns: 19.2% 19.2% 19.2% 19.2% 19.2%;
	grid-gap:1%;
	
}

#galeria img {
	width:100%;
    height:100%;
	}	
	
#rodape{
	display:grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	background-color:black;
	color:white;
	font-size:12pt;
	font-family:helvetica;
	padding-right:200px;
	}	 
	#rodape a{
		color:white;
		text-decoration:none;		
		
	}
#rodape a:hover{
	color:#87CEEB;
} 	

.blue{
	text-shadow: 1px 1px blue;
}

.pink{ 
text-shadow: 1px 1px #FF1493;
} 

#carro{
	display:grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	padding-right:30px;
	padding-left:30px;
}

#carro img {
	width:97%;
    height:100%;
	
	}	
	 
#personagem img{
	width:100%;
	height:100%;
	
}

#contato{
	display:grid;
	grid-template-columns:48% 48%;
	grid-gap:4%;/*define um espaço nas colunas*/
	background-color:#B0C4DE;
}

#contato form{
	font-family:arial;
	font-size:14pt;
	
}	

#formulario input{ /*formatação das caixas do formulario*/
	width:50%;
	padding:10px 30px 10px 20px;
	margin-left:40px;
	background-color:#F0F8FF;
	border:1px solid grey;	
	border-radius:10px;
	font-size:12pt;
	font-family:Arial;
	}

#botao input{
	background-color:#D2691E;
	width:30%;
	padding:15px;
}

#botao input:hover{
	background-color:#FFE4E1;
}

